@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities{
    .desktop-body{
        @apply flex justify-center items-center
    }

    .desktop-nav{
        @apply h-full w-24 hover:w-36 transition-all duration-500 flex flex-col justify-center items-center bg-dark-2 fixed left-0 text-white
    }
}